.buttons {
  display: flex;
  gap: 2px;
  margin-bottom: 16px;
}

.btn {
  padding: 6px 6px;
  border-radius: 8px;
  background: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: #e0e0e0;
}

.active {
  background: #a8c4eb;
  color: rgb(74, 73, 73);
}

@media (min-width: 768px) {
  .buttons {
    margin-bottom: 0;
    gap: 8px;
  }

  .btn {
    padding: 6px 12px;
  }
}
