.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnFirstBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .btnFirstBlock {
    gap: 20px;
  }
}
