.conteinerHeader {
  padding: 20px 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9a21e;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 25px;
}

.logoWrapper,
.btnPlus,
.btnBlock {
  display: none;
}

.conteinerLogo {
  display: flex;
}

@media screen and (min-width: 768px) {
  .conteinerLogo {
    gap: 20px;
  }
  .logo {
    width: 140px;
    height: 35px;
  }

  .burgerBtn {
    display: none;
  }

  .logoWrapper,
  .btnPlus,
  .btnBlock {
    display: block;
  }

  .btnBlock {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  /* .btnPlus {
    border: none;
    padding: 8px 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    color: #fff;
  }

  .btnPlus:hover,
  .btnPlus:focus {
    background-color: #f5a81b;
    transform: scale(1.05);
  }

  .iconPlus {
    fill: white;
    width: 15px;
  } */

  .btnLogin,
  .btnRegister {
    box-sizing: border-box;
    width: 100%;
    background-color: #e9a21e;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    transition: color 0.2s;
    font-size: 16px;
    height: 46px;
  }

  .btnLogin {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .btnLogin:hover,
  .btnLogin:focus {
    color: #f5a81b;
    border: 1px solid #f5a81b;
  }
  .btnRegister:hover,
  .btnRegister:focus {
    transform: scale(1.01);
    border-color: #f5a81b;
  }

  .iconChat {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in-out;
  }

  .iconChat:hover,
  .iconChat:focus {
    fill: #e9a21e;
    transform: scale(1.05);
  }
}
