.progressBar {
  position: relative;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.555),
    0 0 8px rgba(200, 200, 200, 0.233);
  border: 1px solid #1b1b19;
  height: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.progress {
  box-sizing: border-box;
  border-radius: 7px;
  width: 0%;
  height: 100%;
  background-color: rgb(53, 52, 52);
  transition: all 0.2s ease-in-out;
}

.currentTime {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .progressBar {
    height: 25px;
    border-radius: 12px;
  }

  .progress {
    border-radius: 12px;
  }

  .currentTime {
    right: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .progressBar {
    height: 30px;
    border-radius: 14px;
  }

  .progress {
    border-radius: 12px;
  }

  .currentTime {
    right: 10px;
    font-size: 18px;
  }
}
